.container{
    display: flex;
    flex-flow: row;
}

.change {
    width: 40%;
    margin: 2rem auto;
    padding: 2rem;
    text-align: left;

}

.actions {
    width: 100%;
    text-align: center;
}

.error {
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.366);
}
.backnav{
    padding: 10px;
    position: relative;
    margin:1rem;
    width: 8%;
    height: 8%;
    text-decoration: none;
    color: white;
    display: flex;
    border-radius: 12px;
    background-color: #14213d;
}
.backnav h6{
    justify-content: center;
}



@media (max-width: 700px) {
    .container{
        flex-flow: column;
    }
    .change{
        margin: 10%;
        width: 80%;
    }
    .backnav{
        width: 30%;
        height: 5%;
    }

}

