.dashboard {
    margin-top: 5px;
    padding: 1rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}

.welcome_box {
    margin: 1rem;
    padding: 2rem;
    width: 80%;
    margin: 2rem auto;
    text-align: center;
    border-radius: 5px;
    color: #14213d;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    align-content: center;
    justify-content: space-between;

}
.initials{
    width: 10%;
    font-size: 32px;
    text-align: center;
    background-color: #14213d;
    color: white;
    margin-left: 45%;
    padding: 35px;
    border-radius: 60px;
    position: relative;
}

.contents {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #bfbdbd;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
    margin-bottom: 2.5rem;
}

.contents p {
    width: 100%;
    text-align: center;
}

.module {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: center;
}

@media (max-width: 700px) {
    .module {
        width: 70rem;
    }

    .header {
        margin-top: 10rem;
        padding: auto;
        width: 60%;
        font-size: 12px;
        align-items: center;
    }
}