.container{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    padding-top: 5px;
    width: 100%;
    align-content: center;
}

.player{
    width: 90%;
    position: relative;
    padding-top: 56.25%;
    /* Player ratio: 100 / (1280 / 720) */
}
.react_player{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
}

.completeButton{
    width: 20%;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
}

@media (max-width: 700px) {
    .react_player{
        height: 100%;
    }
}