.container{
    position: relative;
    width: 90%;
    background: rgb(235, 230, 230);
    color: black;
    margin-bottom: 2.5rem;
}

.course{
    position: absolute;
    max-height: 100vh;
    text-align: left;
    width: 100%;
    overflow-y:auto;
    margin-bottom: 3rem;
    scroll-behavior: smooth;
}
.courseName{
    display: flex;
    flex-flow: row;
    height: fit-content;
    align-content:flex-start;
    font-size: 18px;
    border: 2px solid black;
}

.course_id{
    padding: 10px;
    width: fit-content;
    height: 100%;
    align-self: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
    
}

.course_name{
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 10px;
    height: 100%;
    text-wrap: wrap;
    text-align: left;
    align-self: center;
    border-left: 2px solid black;
    background-color: aqua;
    border-radius: 8px;
}
.list{
    border:2px solid black;
    margin-bottom: 2.5rem;
}

.topics{
    margin-top: 5px;
    margin-left: 5px;
    text-decoration: none;
}

.topic_header{
    display: flex;
    flex-flow: row;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    justify-content: space-between;
    font-size: 16px;
}

.icon{
    align-self: center;
    display: flex;
    position: absolute;
    right: 0px;
}
.icon:hover{
    cursor: pointer;
}


.topics li:hover{
    cursor:pointer;
}

@media (max-width: 700px){
    .container{
        font-size: 6px;
    }
    .courseName{
        font-size: 8px;
    }
}