.home {
    width: 100%;
    display: flex;
    height: fit-content;
    flex-flow: column;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.outlet{
    width: 100%;
    height: 100%;
    margin: 0%;
}