.main-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background: #FCA311;
    padding: 0 2rem;
}

.main-header h1 {
    color: #14213d;
    text-align: left;
}

.main-header img {
    width: 7rem;
    height: 6rem;
    object-fit: contain;
    background-color: transparent;
}

@media (max-width:700px){
    .main-header{
        justify-content: center;
    }
}