.main-header {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FCA311;
    padding: 0 2rem;
}

.main-header h1 {
    color: #14213d;
    text-align: left;
    align-self: center;
}

.main-header img {
    width: 6rem;
    height: 6rem;
    object-fit: contain;
    background-color: transparent;
}

@media (max-width:700px){
    .main-header{
        flex-flow: column;
        flex-wrap: wrap;
        align-content: center;
    }
    .main-header img{
        width: 4rem;
        height: 4rem;
    }
    .main-header h1{
        font-size: 18px;
    }
}