.container{
    padding: 4rem;
    width: 50%;
    height: 100%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
}
.displayContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}
.welcome_box {
    margin: 1rem;
    padding: 2rem;
    width: 80%;
    margin: 2rem auto;
    text-align: center;
    border-radius: 5px;
    color: #14213d;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    align-content: center;
    justify-content: space-between;

}

.initials {
    width: 10%;
    font-size: 32px;
    text-align: center;
    background-color: #14213d;
    color: white;
    margin-left: 45%;
    padding: 35px;
    border-radius: 60px;
    position: relative;
}
.image_form{
    align-content: center;
    display: flex;
    flex-flow: row;
    text-align: center;
    gap: 2rem;

}
.details{
    align-self: center;
    text-align: left;
    font-size: 18px;
    display: flex;
    flex-direction: column;

}

